<h1>Nytt uppdrag</h1>

<% form_for(@task) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f} %>
  <p>
    <%= f.submit 'Skapa' %>
  </p>
<% end %>

<%= link_to 'Tillbaka', tasks_path, { :class => 'button back' } %>
