<h1>Ny sektion</h1>

<% form_for(@section) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Skapa' %>
  </p>
<% end %>

<%= link_to 'Tillbaka', sections_path, { :class => 'button back' } %>