<h1>Kontakta Svillevi</h1>
<h2>Kansliet</h2>
<p>
 <strong>Svillevi idrottsf&ouml;rening</strong><br/>
 Svillevigatan 3<br/>
 63519 ESKILSTUNA
</p>
<p>Se <a href="http://kartor.eniro.se/query?mop=yp&mapstate=6%3B16.62615%3B59.32513%3Bs%3B16.60239%3B59.33312%3B16.64984%3B59.31717%3B880%3B558%3B0%3B1&mapcomp=%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B0%3B0%3B%3B%3B%3B0&what=map&geo_area=Svilunda%2C%2063519%20ESKILSTUNA&disable_ka=1&disable_multi_company_merge=1&stq=0&pis=0">karta</a>.</p>
<p>
<strong>&Ouml;ppettider</strong><br/>
Vardagar: 10:00-12:00
</p>
<p>
<strong>Telefon:</strong> 086-122 567
</p>
<p>
<strong>Epost:</strong> <a href="mailto:kansliet@svillevi.se">kansliet@svillevi.se</a>
</p>
<h2>Reklamansvarig</h2>
<p>
  Namn: <%= @pr_admin.name %> <%= @pr_admin.surname %><br />
  Telefon: <%= @pr_admin.phone %><br/>
  Epost: <%= @pr_admin.email %>
</p>
